@font-face {
    font-family: NotoSansKR;
    src: url(./Fonts/NotoSansKR-Regular.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: NotoSansKR, Arial, sans-serif;
    font-size: 1rem;
}

header {
    background-color: #050d19;
    padding: 1rem 1rem 0rem 1rem;
    display: flex;
    justify-content: space-between;
}

header img {
    height: auto;
    width: 4rem;
}

a {
    text-decoration: none;
    color: #b89569;
    font-weight: bold;
}

header ul {
    color: #b89569;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 1rem;
}

.välkomst-text {
    text-align: center;
    color: #050d19;
    background-color: #fffdf6;
    padding-inline: 3rem;
    padding-block: 1rem;
}
.välkomst-text h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

main img {
    width: 100%;
    height: auto;
}
